In [50]:
import pandas as pd

## Series

In [51]:
data = [1, 2, 3, 4, 5]
data

[1, 2, 3, 4, 5]

In [52]:
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [53]:
index = ['Linha ' + str(i) for i in range(5)]
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [54]:
series = pd.Series(data = data, index = index)
series

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [55]:
data = {'Linha ' + str(i) : i for i in range(5)}
data

{'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2, 'Linha 3': 3, 'Linha 4': 4}

In [56]:
series = pd.Series(data)
series

Linha 0    0
Linha 1    1
Linha 2    2
Linha 3    3
Linha 4    4
dtype: int64

In [57]:
new_series = series + 10
new_series

Linha 0    10
Linha 1    11
Linha 2    12
Linha 3    13
Linha 4    14
dtype: int64

## DataFrame

In [58]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
data_frame = pd.DataFrame(data)
data_frame

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [60]:
index = ['Linha ' + str(i) for i in range(3)]
index

['Linha 0', 'Linha 1', 'Linha 2']

In [61]:
data_frame = pd.DataFrame(data = data, index = index)
data_frame

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [62]:
colunas = ['Coluna ' + str(i) for i in range(3)]
colunas

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [63]:
data_frame = pd.DataFrame(data = data, index = index, columns = colunas)
data_frame

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [64]:
data = {'Coluna 0' : {'Linha 0' : 1, 'Linha 1' : 4, 'Linha 2' : 7},
        'Coluna 1' : {'Linha 0' : 2, 'Linha 1' : 5, 'Linha 2' : 8},
        'Coluna 2' : {'Linha 0' : 3, 'Linha 1' : 6, 'Linha 2' : 9}}
data

{'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
 'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
 'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

In [65]:
data_frame2 = pd.DataFrame(data = data)
data_frame2

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [66]:
data = [(1, 2, 3),
        (4, 5, 6),
        (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [67]:
data_frame3 = pd.DataFrame(data = data, index = index, columns = colunas)
data_frame3

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [68]:
data_frame[data_frame > 0] = 'a'
data_frame

        Coluna 0 Coluna 1 Coluna 2
Linha 0        a        a        a
Linha 1        a        a        a
Linha 2        a        a        a

In [69]:
data_frame2[data_frame2 > 0] = 'b'
data_frame2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        b        b        b
Linha 1        b        b        b
Linha 2        b        b        b

In [70]:
data_frame3[data_frame3 > 0] = 'c'
data_frame3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        c        c        c
Linha 1        c        c        c
Linha 2        c        c        c

In [71]:
data_frame4 = pd.concat([data_frame, data_frame2, data_frame3])
data_frame4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        a        a        a
Linha 1        a        a        a
Linha 2        a        a        a
Linha 0        b        b        b
Linha 1        b        b        b
Linha 2        b        b        b
Linha 0        c        c        c
Linha 1        c        c        c
Linha 2        c        c        c

In [72]:
data_frame5 = pd.concat([data_frame, data_frame2, data_frame3], axis = 1)
data_frame5

,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2
Linha 0,a,a,a,b,b,b,c,c,c
Linha 1,a,a,a,b,b,b,c,c,c
Linha 2,a,a,a,b,b,b,c,c,c